<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>空空</title>

    <!--iconfont css-->
    <link href="font-icon/iconfont.css" th:href="@{/font-icon/iconfont.css}" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link href="swiper/css/swiper.min.css" th:href="@{swiper/css/swiper.min.css}" rel="stylesheet">
    <!--sys css-->
    <link href="css/style.css?k2" th:href="@{/css/style.css?k2}" rel="stylesheet">

  </head>
  <body>

    <div class="msg-cont-main">

      <div class="msg-page">

        <div class="msg-main" id="msgMainText">
          <!--通话记录，opercode 操作码，2002（客服发送信息），2003（客服接收消息）-->
         <div th:each="user,rowStat:${talkList}" th:class = "${user.opercode == '2003'}?'flex msg-cont-box':'flex msg-cont-box flex-right'">
            <div class="user-img radius" th:if="${user.opercode == '2003'}">
              <img th:src="@{/images/1.jpg}" th:alt="空空">
            </div>
            <div class="user-img radius" th:if="${user.opercode == '2002'}">
              <img th:src="@{/images/jay.jpg}" th:alt="Just">
            </div>
            <div th:class = "${user.opercode == '2003'}?'msg-left-text radius m-l15':'msg-right-text radius m-r15'" th:text="${user.text}">
            </div>
          </div>
        </div>

        <div class="msg-enter-box">

          <div class="msg-enter-bg flex">
            <div class="flex-item">
              <div class="enter-text" contenteditable="true"></div>
            </div>
            <div>
              <a class="transfer-btn" href="javascript:;"></a>
            </div>
            <div>
              <a class="send-btn radius" onclick="sendMsg()">发送</a>
            </div>
          </div>

          <div class="transfer-box">

            <!-- Swiper -->
            <div class="swiper-container transfer-person">
              <div class="swiper-wrapper">
                <div class="swiper-slide" th:each="user,rowStat:${kfList}">
                  <div>
                    <label>
                      <input class="radio-inp" hidden="hidden" type="radio" name="transfer-inp" th:value="${user.kf_account}">
                      <div class="radio-cur">
                        <div class="person-img radius">
                          <img src="images/5.jpg" th:src="@{/images/5.jpg}" alt="客服1">
                        </div>
                        <div class="f12 c-grey text-center m-t5 line-text" th:text="${user.kf_nick}"></div>
                      </div>
                    </label>
                  </div>
                </div>


              </div>
            </div>
            <!-- Swiper end -->

            <div class="flex padding-item m-t15 flex-right">
              <a class="transfer-go-btn dis-red-btn radius" th:value="@{/kf/transfer}" id="btn_transfer" onclick="doTransfer()" >转接</a>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div>

    </div>

    <!-- jQuery -->

	<form th:action="@{/kf/sendMsg}" id="ff_id" method="post">
		<input type="hidden" name="text" id="text"/>
		<input type="hidden" name="user_openid" th:value="${user_openid}"/><!--用户的openid-->
		<input type="hidden" name="kfaccountid" th:value="${session.currentKfAccount.id}"/><!--客服的openid-->
	</form>
	<script src="js/zepto.min.js" th:src="@{/js/zepto.min.js}"></script>
	<script src="swiper/js/swiper.min.js" th:src="@{/swiper/js/swiper.min.js}"></script>
    <!-- hlhlo.js -->
    <script src="js/hlhlo.js" th:src="@{/js/hlhlo.js}"></script>
    <script type="text/javascript" th:inline="javascript">
      var swiper = new Swiper('.transfer-person', {
        slidesPerView : 'auto',
        spaceBetween: 7,
        observer:true,
        observeParents:true
      });
	  
	  function sendMsg(){
	      if(!$(".enter-text").text()) {//如果输入了空内容，就不能发送
	          return;
          }
          $("#text").val($(".enter-text").text());
          console.log($("#ff_id").attr("action"));
          $.ajax({
              url:$("#ff_id").attr("action"),
              type:"post",
              data:$("#ff_id").serialize(),
              dataType: "json",
              success: function(data){
                  console.log(data);
                  /*
                  var html = '';
                  $.each(data, function(commentIndex, comment){
                      html += '<div class="comment"><h6>' + comment['username']
                          + ':</h6><p class="para"' + comment['content']
                          + '</p></div>';
                  });*/
                  var html = "<div class=\"flex msg-cont-box flex-right\">" +
                      "<div class=\"user-img radius \">" +
                      "<img th:src=\"@{images/jay.jpg}\" alt=\"Just\">" +
                      "</div>" +
                      "<div class=\"msg-right-text radius m-r15\">" +
                      $("#text").val() +
                      "</div>" +
                      "</div>";
                  console.log(html);
                  $('#msgMainText').append(html);

                  //清空输入框
                  $("#text").val("");
                  $(".enter-text").text("")
              }
          });
      }

    /**
     * 转接
     */
    function doTransfer(){
        window.location.href=$("#btn_transfer").attr("value") + "?user_openid="+[[${user_openid}]]+"&account="+$("input[name='transfer-inp']:checked").val();
    }
    </script>

  </body>
</html>
