<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>呼拉圈</title>

    <!--iconfont css-->
    <link href="font-icon/iconfont.css" th:href="@{/font-icon/iconfont.css}" rel="stylesheet">
    <!--sys css-->
    <link href="css/style.css?k2" th:href="@{/css/style.css?k2}" rel="stylesheet">

  </head>
  <body>

    <div class="flex padding-item div-between align-center m-t10">
      <div class="title-name">消息</div>
      <div class="user-state online"></div>
    </div>

    <div class="m-t10">

      <a th:each="user,userStat : ${list}"
         th:href="@{'/kf/msgContent?kf_openid='+${current_kfopenid} + '&user_openid=' + ${user.user_openid}}">
        <div class="flex align-center msg-item-active">

          <div class="user-item-img radius">
            <img src="images/1.jpg" th:src="@{/images/1.jpg}" alt="空空">
          </div>

          <div class="flex-item m-l15">
            <div class="f18 c-black bold">空空</div>
            <div class="c-grey m-t5">您好！我想咨询一下</div>
          </div>

          <div class="text-right">
            <div class="unread-box">
              <div class="unread-num text-center bold">1</div>
            </div>
            <div class="c-grey f12 m-t10">10:54</div>
          </div>

        </div>
      </a>
      <a href="/kf/msgContent?kf_openid=o36WF0kwKQEOq9-l9bqAiM5Nqlf8&user_openid=1">
        <div class="flex align-center msg-item-active">

          <div class="user-item-img radius">
            <img src="images/1.jpg" th:src="@{/images/1.jpg}" alt="空空">
          </div>

          <div class="flex-item m-l15">
            <div class="f18 c-black bold">空空</div>
            <div class="c-grey m-t5">您好！我想咨询一下</div>
          </div>

          <div class="text-right">
            <div class="unread-box">
              <div class="unread-num text-center bold">1</div>
            </div>
            <div class="c-grey f12 m-t10">10:54</div>
          </div>

        </div>
      </a>

      <a href="javascript:;">
        <div class="flex align-center msg-item-active">

          <div class="user-item-img radius">
            <img src="images/2.jpg"  th:src="@{/images/2.jpg}" alt="刘燕">
          </div>

          <div class="flex-item m-l15">
            <div class="f18 c-black bold">刘燕</div>
            <div class="c-grey m-t5">您好！</div>
          </div>

          <div class="text-right">
            <div class="unread-box">
              <!-- <div class="unread-num text-center bold">1</div> -->
            </div>
            <div class="c-grey f12 m-t10">2018-10-28 11:54</div>
          </div>

        </div>
      </a>

      <a href="javascript:;">
        <div class="flex align-center msg-item-active">

          <div class="user-item-img radius">
            <img src="images/3.jpg"  th:src="@{/images/3.jpg}" alt="小玉子">
          </div>

          <div class="flex-item m-l15">
            <div class="f18 c-black bold">小玉子</div>
            <div class="c-grey m-t5">好的，谢谢</div>
          </div>

          <div class="text-right">
            <div class="unread-box">
              <!-- <div class="unread-num text-center bold">1</div> -->
            </div>
            <div class="c-grey f12 m-t10">2018-10-25 15:25</div>
          </div>

        </div>
      </a>

      <a href="javascript:;">
        <div class="flex align-center msg-item-active">

          <div class="user-item-img radius">
            <img src="images/4.jpg" th:src="@{/images/4.jpg}" alt="空空如也">
          </div>

          <div class="flex-item m-l15">
            <div class="f18 c-black bold">空空如也</div>
            <div class="c-grey m-t5">找不到答案</div>
          </div>

          <div class="text-right">
            <div class="unread-box">
              <!-- <div class="unread-num text-center bold">1</div> -->
            </div>
            <div class="c-grey f12 m-t10">2018-10-20 10:54</div>
          </div>

        </div>
      </a>


    </div>

    <!-- jQuery -->
    <script src="js/zepto.min.js" th:src="@{/js/zepto.min.js}"></script>
    <!-- hlhlo.js -->
    <script src="js/hlhlo.js" th:src="@{/js/hlhlo.js}"/>

  </body>
</html>
