<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>呼拉圈</title>

    <!--iconfont css-->
    <link href="font-icon/iconfont.css" rel="stylesheet">
    <!--sys css-->
    <link href="css/style.css?k2" rel="stylesheet">

  </head>
  <body>

    <div class="wrapper">

      <div>
        <div class="text-center">
          <div class="big-icon success-icon"></div>
        </div>
        <div class="success-text text-center m-t15">转接成功</div>
      </div>

      <div class="sq-p">
        <a class="return-btn radius" href="msg-list.html">返回</a>
      </div>

    </div>

    <!-- jQuery -->
    <script src="js/zepto.min.js"></script>
    <!-- hlhlo.js -->
    <script src="js/hlhlo.js"></script>

  </body>
</html>
