<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>呼拉圈</title>

    <!--iconfont css-->
    <link th:href="@{/font-icon/iconfont.css}" rel="stylesheet">
    <!--sys css-->
    <link th:href="@{/css/style.css?k2}" rel="stylesheet">

  </head>
  <body>

    <div class="wrapper">

      <div>
        <div class="text-center">
          <div class="big-icon success-icon"></div>
        </div>
        <div class="success-text text-center m-t15">转接成功</div>
      </div>

      <div class="sq-p">
        <a class="return-btn radius" th:href="@{/kf/msglist}">返回</a>
      </div>

    </div>

    <!-- jQuery -->
    <script th:src="@{/js/zepto.min.js}"></script>
    <!-- hlhlo.js -->
    <script th:src="@{/js/hlhlo.js}"></script>

  </body>
</html>
